{% extends "base.html" %}

{% block navbar %}{% endblock navbar %}

{% block body_class %}
  inverse
{% endblock body_class %}

{% block container %}
  <video id="welcome-vid" muted autoPlay playsInline poster="{{ url_for('static', filename='img/home-bg-sm.webp') }}">
    <source src="{{ url_for('static', filename='media/lay-z-owl-pexels.webm')}}" type="video/webm">
    <source src="{{ url_for('static', filename='media/lay-z-owl-pexels.mp4') }}" type="video/mp4">
  </video>
  
  <canvas id="my-canvas" style="display:none" width="250" height="150"></canvas>

  <div id="welcome" class="home-section text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div id="home-alert" class="row justify-content-center alert {{ category }}">
            <div class="col-sm-11 col-md-10 col-lg-9">
              <div role="alert">{{ message }}</div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <nav class="row justify-content-center">
      <div class="col-11 col-md-10">
        <div class="row justify-content-center justify-content-md-end">
          <div class="col-1">
            <div id="vid-toggle">
              <div id="pause-play"></div>
            </div>
          </div>
          <div class="home-nav col offset-1 offset-md-4 offset-lg-5 offset-xl-6 col-md-7 col-lg-6 col-xl-5">
            <div><a href="#welcome" data-text="home">home</a></div>
            <!-- <div><a href="{{ url_for('about') }}" data-text="about">about</a></div> -->
            <div><a href="#contact" data-text="contact">contact</a></div>
            <div><a href="{{ url_for('signin') }}" data-text="Sign in">sign in</a></div>
          </div>
        </div>
      </div>
    </nav>

    <div class="row justify-content-center g-0">
      <div class="col-11">

        <h1 id="home-title" class="dynamic-color">
          <p class="mb-3 mb-sm-1">
            Websites<br class="d-sm-none">
            that delight.
          </p>
          <p>
            Apps that<br class="d-sm-none">
            inspire.
          </p>
        </h1>

        {% include '_logo-main.svg' %}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-sm-11">
        <div class="home-next">
          <a href="#home-2">
            <h4 class="dynamic-color">
              Learn more
            </h4>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                bi-chevron-down dynamic-color" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% include "_header-index.html" %}

  <div id="home-2" class="home-section">
    <div class="row">
      <div class="col-10 col-md-8 offset-1">
        <h1>We feel your pain</h1>
        <p class="h3">
          ...because we've been in your position: holding a vision but needing help to realize it.
          We've started businesses, ridden the emotional roller-coaster of entrepreneurship,
          and experienced the joys and frustrations of hiring tech freelancers and agencies.
        </p>
        <p class="h3">
          We know how important it is to the success of your business that each project flows
          without friction. You will have direct communication with the development team,
          full transparency with regards to cost and timeline, and our commitment to giving you
          honest answers &ndash; even when it's not what you want to hear.
        </p>

        <div class="text-center">
          <a class="cta btn" href="#contact">
            Get in touch
          </a>
        </div>

        <div class="home-next">
          <a href="#home-3">
            <h4>
              <span class="me-2">Our approach</span>
              <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
            </h4>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="home-3" class="home-section">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8 offset-md-2">
        <h1>Details matter.</h1>
        <p class="h3">
          One crucial aspect of successful creation is ensuring that your vision is fully
          understood and shared by collaborators. Many agencies will praise your idea
          regardless of its merits or their comprehension. We will not do you that disservice.
        </p>
        <p class="h3">
          Instead, we challenge our clients. We ask uncomfortable questions and pose alternatives.
          We unearth uncertainties so that they can be clarified. We seek the unspoken assumptions
          upon which the value proposition is built, so that you know whether to proceed or to
          pivot. And then we build whatever you decide to build.
        </p>
        <p class="h3 mb-5">
          We do these things because we care deeply for the success of the ventures we choose
          to support.
        </p>
        <div class="home-next">
          <a href="#home-4">
            <h4>
              <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
            <span class="ms-2">Things we can build together</span>
            </h4>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="home-4" class="home-section">
    <div class="row justify-content-start">
      <div class="col-10 col-md-8 offset-1">
        <h1>Our capabilities</h1>
        <p class="h3">
          We build fast and well-maintained systems to address all of your business needs.
          Some of the technologies we use include Python, Django, Flask, PostgreSQL, and MongoDB.
          We build efficient APIs using tools such as FastAPI. We will deploy your site
          or app to AWS, GCP or any other cloud service provider of your choice.
        </p>
        <p class="h3 mb-5">
          We are comfortable with AI functionality, such as recommendation engines and chat bots.
          Our experience and the broad range of tools allows us to offer complete, performant solutions to our
          clients.
        </p>

        <div class="home-next">
          <a href="#contact">
            <h4>
              <span class="me-2">Let's connect</span>
              <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
            </h4>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="home-section end">
    <div class="row justify-content-center">
      <div class="col-11 col-md-8">
        <h1 class="mb-4">Send us a message</h1>

        <form id="inquiry-form" action="" method="post">
          {{ form.hidden_tag() }}
          <p class="mb-3">{{ form.first_name }}</p>
          <p class="mb-3">{{ form.email }}</p>
          <p class="mb-3">{{ form.phone }}</p>
          <p class="mb-3">{{ form.message(rows='4') }}</p>
          {{ hcaptcha }}
          {{ form.submit }}
        </form>
      </div>
    </div>
  </div>
{% endblock container %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/zenscroll-min.js') }}"></script>
  <script>
    zenscroll.setup(null, 0);
  </script>

  <script src="{{ url_for('static', filename='js/get-vid-color.js') }}" defer></script>
  
  <script>
    const video = document.getElementById('welcome-vid');
    const startPlayPromise = video.play();
    const vidToggle = document.querySelector('#vid-toggle');

    if (startPlayPromise !== undefined) {
      startPlayPromise
        .then()
        .catch((error) => {
          video.classList.add('d-none');
          video.pause();
          vidToggle.parentElement.classList.add('d-none');
          document.getElementById('welcome').style.backgroundImage = "linear-gradient(180deg, transparent 50%, rgb(3,32,44)), url('../static/img/home-bg-sm.webp')";
          document.documentElement.style.setProperty('--dynamic-color', rgb(32,72,92));
      });
    };

    function playPause (id) {
      if (video.paused)
        video.play();
      else
        video.pause();
    }

    vidToggle.onclick = function() {
      playPause('welcome-vid');
      document.getElementById('pause-play').classList.toggle('paused');
    }
  </script>
{% endblock end_scripts %}
