{% extends "base.html" %}

{% block content %}
  <h1>Reset password</h1>
  <form id="reset-password-form" action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.email }}
    {{ hcaptcha }}
    {{ form.submit }}
  </form>
  <p class="text-center">
    <a href="{{ url_for('login') }}" class="btn sec sm">Log in</a>
  </p>
{% endblock content %}

{% block end_scripts %}
  <script>
    function onSubmit(token) {
      document.getElementById("reset-password-form").submit();
     }
  </script>
{% endblock end_scripts %}
