{% extends 'base.html' %}

{% block body_class %} inverse {% endblock body_class %}

{% block content %}
<div class="row justify-content-center">
  <div class="col col-md-8">
    <h1 class="title-margin">Add time entry</h1>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      {{ form.description }}
      {{ form.project }}
      {{ form.category }}
      {{ form.modifier }}
      <div class="row mt-2 g-0">
        <div class="col-6 pe-1">
          {{ form.start_time.label }}
          {{ form.start_time }}
        </div>
        <div class="col-6 ps-1">
          {{ form.end_time.label }}
          {{ form.end_time }}
        </div>
      </div>
      
      {{ form.save }}
    </form>
  </div>
</div>

{% endblock content %}